#login {
    margin-left: 45%;
    margin-top: 5%;
    /* background-image: url("/images/background.jpg"); */


}
body {
    background-image: url("/images/background.jpg");
   
}

.logo {
    margin-left: 37%;
    margin-top: 3%;
    width: 32%;

}